ion-button{
margin-top: 150px;
margin-left: 70px;
}

ion-card-subtitle{
    color: rgb(60, 207, 47);
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}