ion-button{
  margin-top: 200px;
  margin-left: 80px;
}

h3{
  margin-top: 300px;
  margin-left: 80px;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}